# macOS
.DS_Store
.AppleDouble
.LSOverride

# C++
build/
ipc_test/build/
SwitchSpy/build/
*.o
*.so
*.a
*.out
*.exe
*.ilk
*.pdb
*.gch
*.pch
*.log
*.tlog
*.idb
*.obj
*.obj.d

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
pip-wheel-metadata/
.Python
/lib/
/include/
/bin/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
/htmlcov/
.hypothesis/

# Test results
test_results.json

# Vendor
vendor/
ipc_test/vendor/